<div id="formulario-container">

    <form>

        <div>
            <input
                type="text"
                placeholder="EJ: #ABC123456"
                name="tagJugador"
                required
            />
            <button type="button">Buscar</button>
        </div>

        <div>
            <input
                type="text"
                placeholder="EJ: #ABC123456"
                name="tagJugador"
                required
            />
            <button type="button">Buscar</button>
        </div>
            
       

        <!-- <div *ngIf="mostrarApiInput" style="margin-top: 10px;">
      <input
        type="text"
        placeholder="Código API"
        [(ngModel)]="codigoApi"
        name="codigoApi"
        required
        style="padding: 5px; width: 100%;"
      />
      <button
        type="button"
        (click)="validarCodigoApi()"
        style="margin-top: 10px; padding: 5px 10px; display: block; width: 100%;"
      >
        Validar
      </button>
    </div> -->

    </form>
</div>
